/* styles.css */
.carousel-container {
    height: 40vh; /* Adjusted height */
    width: 100%; /* Adjusted width */
    /* max-height: 500px; Limit maximum height if necessary */
    /* max-width: 800px; Limit maximum width if necessary */
    margin: 0 auto; /* Center the carousel horizontally */
    object-fit: contain;
}
.carousel-divcontainer{
    height: 50%;
    width: 100%;
}